/* Para telas menores que 768px */
@media (max-width: 768px) {
  .card-weather {
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 10px;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 10px;
      background: linear-gradient(to bottom left, #023a58, #48cae4);
      color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
  
  /* Para telas maiores que 768px */
  @media (min-width: 769px) {
    .card-weather {
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 10px;
        margin: 0 auto; /* para centralizar o card se ele for menor que a largura da tela */
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        background: linear-gradient(to bottom left, #023a58, #48cae4);
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  
    @media (max-width: 768px) {
      .left-spacing {
        margin-left: 10px;  
      }
    }
    
    @media (min-width: 769px) {
      .left-spacing {
        margin-left: 130px; 
      }
    }
  
    .card-weather:hover {
      transform: scale(1.02);
      transition: transform 0.3s ease;
    }
    .current-weather-icon {
      font-size: 80px; /* Se estiver usando uma fonte de ícones */
      vertical-align: middle;
    }
    .weather-icon {
      font-size: 40px;
      vertical-align: middle;
      margin-bottom: 10px;
    }
    .week {
      display: flex;
      justify-content: space-evenly; /* Distribui os itens uniformemente */
      font-weight: bold;
      margin-bottom: 10px;
    }
    .day {
      text-align: center;
    }
    .weather-icons, .temperatures {
      display: flex;
      justify-content: space-evenly; /* Distribui os itens uniformemente */
      align-items: center;
      width: auto;
    }